.topnav {
    background-color: rgb(50, 62, 131);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.login-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    border: 2px solid black;
    width: 350px;
    background: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

button {
    width: 70px;
    height: 25px;
    margin-top: 20px;
    background: rgb(50, 62, 131);
    color: aliceblue;
    border: 0.9px solid black;
    cursor: pointer;
}

input {
    border: 0.5px solid rgb(50, 62, 131);
    background: lightgrey;
}