<div class="topnav">
    <nav>
        <a routerLink="/register">Register</a>
        <a routerLink="/login">Login</a>
    </nav>
</div>

<div class="register-container">
    <form id="formData" #userData="ngForm" (ngSubmit)="onRegister(userData.value)">
        <h2>Welcome, please register </h2>
        <div class="input-container">
            <div class="item">
                <label>first name: </label>
                <input placeholder="Enter your first name" name="firstName" ngModel>
            </div>
            <div class="item">
                <label>last name: </label>
                <input placeholder="Enter your last name" name="lastName" ngModel>
            </div>
            <div class="item">
                <label>userName: </label>
                <input placeholder="Enter your user name" name="userName" ngModel>
            </div>
            <div class="item">
                <label>Password: </label>
                <input type="password" placeholder="Enter Password" name="userPassword" ngModel>
            </div>
        </div>
        <button type="submit">Register</button>
        <h6>{{messageConfirmation}}</h6>
    </form>
</div>